
build/CMakeCache.txt
build/build.ninja
build/.cmake/api/v1/reply/index-2023-10-04T11-27-28-0826.json
build/.cmake/api/v1/reply/index-2023-09-20T15-37-20-0667.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c2582e138d465d96d9c5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-240cf7a603495eda267b.json
build/.cmake/api/v1/reply/cache-v2-dec8602faae5903b8ac9.json
build/.cmake/api/v1/reply/cache-v2-1d238231dee560293762.json
build/.cmake/api/v1/reply/cache-v2-1d238231dee560293762.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c2582e138d465d96d9c5.json
build/.cmake/api/v1/reply/index-2023-09-20T15-37-20-0667.json
build/build.ninja
build/CMakeCache.txt
build/CMakeFiles/3.27.5/CMakeCCompiler.cmake
build/CMakeFiles/3.27.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.5/CMakeSystem.cmake
build/CMakeFiles/3.27.5/CompilerIdC/a.out
build/CMakeFiles/3.27.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.5/CompilerIdCXX/a.out
build/CMakeFiles/3.27.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/run.dir/compiler_depend.internal
build/CMakeFiles/run.dir/compiler_depend.make
build/CMakeFiles/run.dir/EfrosLeung.cpp.o
build/CMakeFiles/run.dir/main.cpp.o
build/CMakeFiles/run.dir/main.cpp.o.d
build/res.csv
build/res_11_200_0.png
build/res_15_200_0.png
build/res_17_200_0.png
build/res_3_200_0.png
build/res_5_200_0.png
build/result.png
build/run
build/.cmake/api/v1/reply/cache-v2-1d238231dee560293762.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c2582e138d465d96d9c5.json
build/.cmake/api/v1/reply/index-2023-09-20T15-37-20-0667.json
build/build.ninja
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/run.dir/compiler_depend.internal
build/CMakeFiles/run.dir/compiler_depend.make
build/CMakeFiles/run.dir/EfrosLeung.cpp.o
build/CMakeFiles/run.dir/main.cpp.o
build/CMakeFiles/run.dir/main.cpp.o.d
build/result.png
build/run
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7057eb1a88ba26a96e15.json
build/.cmake/api/v1/reply/cmakeFiles-v1-7f1e3fa175c2cc569b9a.json
build/.cmake/api/v1/reply/codemodel-v2-ab46f96e930ffe14699e.json
build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-10-11T21-06-46-0616.json
build/.cmake/api/v1/reply/target-run-Release-cc3dab990a8182eb6666.json
build/.cmake/api/v1/reply/target-runKMean-Release-c0e518225218612b3f23.json
build/.cmake/api/v1/reply/toolchains-v1-c3961a07f3b1e7890fde.json
build/.ninja_deps
build/.ninja_log
build/_deps/sciplot_content-src/
build/_deps/sciplot_content-subbuild/CMakeFiles/Makefile.cmake
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/rules.ninja
build/CMakeFiles/run.dir/EfrosLeung.cpp.o
build/CMakeFiles/run.dir/EfrosLeung.cpp.o.d
build/CMakeFiles/run.dir/mainEfrosLeung.cpp.o
build/CMakeFiles/run.dir/mainEfrosLeung.cpp.o.d
build/CMakeFiles/runKMean.dir/compiler_depend.internal
build/CMakeFiles/runKMean.dir/compiler_depend.make
build/CMakeFiles/runKMean.dir/mainKMean.cpp.o
build/CMakeFiles/runKMean.dir/mainKMean.cpp.o.d
build/compile_commands.json
build/predicted.csv
build/run
build/runKMean
build/textures.csv
build/train.csv
build/_deps/sciplot_content-subbuild/CMakeFiles/Makefile.cmake
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/run.dir/EfrosLeung.cpp.o
build/CMakeFiles/run.dir/EfrosLeung.cpp.o.d
build/CMakeFiles/run.dir/mainEfrosLeung.cpp.o
build/CMakeFiles/run.dir/mainEfrosLeung.cpp.o.d
build/CMakeFiles/runKMean.dir/compiler_depend.internal
build/CMakeFiles/runKMean.dir/compiler_depend.make
build/CMakeFiles/runKMean.dir/mainKMean.cpp.o
build/CMakeFiles/runKMean.dir/mainKMean.cpp.o.d
build/run
build/runKMean
*.d
*.o
